body {
    background-color: lightblue;
    /* background-image: url("paper.gif");*/
    background-image: url("https://clipground.com/images/img_tree-png-1.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    /*color: red;
    text-align: center;*/
  }

  #paral {
    text-align: center;
    color: red;
  }

  .center {
    text-align: center;
    color: red;
  }
  h2.center {
    color:  green;
    text-align: center;
  }
  p.large {
    font-size:150%;
  }
.border {
    border:2px solid Tomato;
}

/*div {
    background-color: green;
  }*/
  
  div.first {
    opacity: 0.1;
  }
  
  div.second {
    opacity: 0.3;
  }
  
  div.third {
    opacity: 0.6;
  }

div.margins {
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        background-color: rgb(152, 206, 28);
        padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
      
}
p.exl {
    margin-left: inherit;
}

div.marginsShorthand {
    border: 1px solid black;
  margin: 100px 150px 100px 80px;
  background-color: rgb(152, 206, 28);
}
div.marginAUTO{
width: 300px;
  margin: auto;
  border: 1px solid red;
}

div.heightANDwidth {
    height: 200px;
  width: 50%;
  background-color: rgb(220, 230, 176);
}

div.BoxModel {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#outline {
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  outline-offset: 15px;
  margin: auto;  
  padding: 20px;
  text-align: center;
  background: yellow;
}

p.ex3 {outline: 5px solid yellow;}


div.text
{
  border: 1px solid gray;
  padding: 8px;
  background: white;
}
.text h1
{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

.text p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

.text a {
  text-decoration: none;
  color: #008CBA;
}

h1.b {
  font-family: "Sofia", sans-serif;
  color:black;
}

.table table {
  border-collapse: collapse;
  width: 100%;
}

.table th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tr:hover {background-color: coral;}
.navigation ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.navigation li { 
    float: left;
  }

.navigation li a
  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.navigation li a:hover 
    {
      background-color: #111;
    }

.active {
  background-color: red;
}
  
.header {
  background-color: #db0c0c;
  padding: 20px;
  text-align: center;
}