body {
    background-color: black;
    color:white;
    font-size: 20px;
}

p   {
    color: rgb(60, 179, 113);
}

h1 {
    color: pink
}

/*div {
    background: pink;
    width: 500px;
    height: 500px;
    
}*/

span {
    color: yellow;
    /*font-size: 40px;
    font-weight: bold;*/
}

.top-section {
    background: pink;
}

.bottom-section {
    background: lightblue;
    
}

.intro {
    font-size: 30px;
    color: yellow;
}

.highlight {
    background: green;

}

.box {
    /*background: pink;*/
    background-image: url(hamster.jpg);
    width: 300px;
    margin: 100px;
    border-style: solid;
    border-left-color: red;
    border-width: 5px;
    border-right-color: green;
    border-top: 5px solid yellow;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.pattern {
    background-image: url(subpattern.jpg);
    background-repeat: repeat;
}

.bolder {
    font-weight: bolder;
}


.bold {
    font-weight: bold;
}

a {
    color: violet;
    
}

a:hover {
    color: yellow;
}

/*a:visited{
        color: pink;
    }*/


a:active {
    color:blue;
}


.body-text {
    background-color: #8094d1;
    color: black;
}